*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
    
    
.container{
    width:50rem;
    height:100vh;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
   /* width: 100%; */
   background-color: rgb(59, 67, 74);
   padding:20px;
   border-radius: 10px;
   
}
form input{
 width:5rem;
 height:5rem;
 border-radius: 10px;
 box-shadow: 0px 0px 2px whitesmoke;
 font-size: 20px;
 cursor: pointer;
 margin:10px;
 flex-grow: 1;
}
form .display {
 display: flex;
 justify-content: flex-end;
 margin:10px 0;
}
form .display input{
    background-color: transparent;
    color:white;
    text-align: right;
    flex:1;
    font-size: 30px;
    outline: none;
    border: none;
    box-shadow: none;
    white-space: nowrap;
    height: 80px;

}
 #equal{
    width:11.5rem;
}

